{% extends 'base.html' %}

{% block menu %}
<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link nav-link-1"  href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-2 active" aria-current="page" href="{% url 'content' %}">Content</a>
    </li>
</ul>
{% endblock %}
{% block content %}
{% load static %}

    <div class="container-fluid tm-container-content tm-mt-50">
        <div class="row mb-4">
            <center>
            <h2 class="col-6 tm-text-primary" style="margin-top: 20px;">
                <a class="nav-link nav-link-1"  href="{% url 'content_page' %}" style="font-size: 30px;">Content</a>
            </h2>
            </center>
        </div>

        <div class="row tm-mb-30 tm-gallery">
        	{% for ia in obj %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{ ia.movies_image.url  }}" alt="Image" class="img-fluid" style="width: 850px; height: 300px;">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{ ia.movies_name }}</h2>
                        <a href="{% url 'detail' pk=ia.pk %}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{ ia.upload_date }}</span>
                    <span>{{ ia.movies_category }}/{{ ia.category_types }}</span>
                </div>
            </div>
            {% endfor %}
        </div> <!-- row -->

        <div class="container-fluid tm-container-content tm-mt-30">
            <div class="row mb-4">
                <center>
                    <h2 class="col-6 tm-text-primary">
                        <a class="nav-link nav-link-2"  href="{% url 'Anime_page' %}" style="font-size: 30px;">Animes</a>
                    </h2>
                </center>
            </div>
    
            <div class="row tm-mb-30 tm-gallery">
                {% for is in Animes %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="{{ is.movies_image.url  }}" alt="Image" class="img-fluid" style="width: 850px; height: 300px;">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>{{ is.movies_name }}</h2>
                            <a href="{% url 'detail' pk=is.pk %}">View more</a>
                        </figcaption>                    
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">{{ is.upload_date }}</span>
                        <span>{{ is.movies_category }}/{{ is.category_types }}</span>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- row -->



            <div class="container-fluid tm-container-content tm-mt-30">
                <div class="row mb-4">
                    <center>
                        <h2 class="col-6 tm-text-primary">
                            <a class="nav-link nav-link-3"  href="{% url 'movie_page' %}" style="font-size: 30px;">Movies</a>
                        </h2>
                    </center>
                </div>
        
                <div class="row tm-mb-30 tm-gallery">
                    {% for im in movies %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <figure class="effect-ming tm-video-item">
                            <img src="{{ im.movies_image.url  }}" alt="Image" class="img-fluid" style="width: 850px; height: 300px;">
                            <figcaption class="d-flex align-items-center justify-content-center">
                                <h2>{{ im.movies_name }}</h2>
                                <a href="{% url 'detail' pk=im.pk %}">View more</a>
                            </figcaption>                    
                        </figure>
                        <div class="d-flex justify-content-between tm-text-gray">
                            <span class="tm-text-gray-light">{{ im.upload_date }}</span>
                            <span>{{ im.movies_category }}/{{ im.category_types }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- row -->

                <div class="container-fluid tm-container-content tm-mt-30">
                    <div class="row mb-4">
                        <center>
                            <h2 class="col-6 tm-text-primary">
                                <a class="nav-link nav-link-4"  href="{% url 'Webserie_page' %}" style="font-size: 30px;">Webseries</a>
                            </h2>
                        </center>
                    </div>
            
                    <div class="row tm-mb-30 tm-gallery">
                        {% for iw in webseries %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                            <figure class="effect-ming tm-video-item">
                                <img src="{{ iw.movies_image.url  }}" alt="Image" class="img-fluid" style="width: 850px; height: 300px;">
                                <figcaption class="d-flex align-items-center justify-content-center">
                                    <h2>{{ iw.movies_name }}</h2>
                                    <a href="{% url 'detail' pk=iw.pk %}">View more</a>
                                </figcaption>                    
                            </figure>
                            <div class="d-flex justify-content-between tm-text-gray">
                                <span class="tm-text-gray-light">{{ iw.upload_date }}</span>
                                <span>{{ iw.movies_category }}/{{ iw.category_types }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div> <!-- row -->
       
    </div> <!-- container-fluid, tm-container-content -->
    {% endblock %}