{% extends 'base.html' %}
{% block menu %}
<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link nav-link-1"  href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-2 active" aria-current="page" href="{% url 'content' %}">Content</a>
    </li>
</ul>
{% endblock %}
{% block content %}
{% load static %}
{% load filter_tags %}

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}">
    <form class="d-flex tm-search-form" action="{% url 'search' %}" method="POST" >
        {% csrf_token %} 
        <input class="form-control tm-search-input" type="search" placeholder="Search" name="name" aria-label="Search" required>
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

    <div class="container-fluid tm-container-content tm-mt-60">
        {% for ia in obj %}
        <center>
        <div class="row mb-4">
            <h5 class="col-12 tm-text-primary" style="font-family: 'Times New Roman', serif;"><a href="{% url 'index' %}">Home</a>/ {{ ia.movies_name }}</h5>
        </div>
        </center>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <img src="{{ ia.movies_image.url  }}" alt="Image" style="width: 950px; height: 600px;" class="img-fluid">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details" style="padding-top: 10px; padding-bottom: 10px;">
                    <p class="mb-4">
                    <center>
                        <h3 class="tm-text-gray-dark mb-3" style="font-family: 'Times New Roman', serif;">Info</h3>
                    </center>
                    </p>
                    <h4>
                    <p class="mb-200">
                        <p><img src="{% static 'icons/clapperboard.png' %}" style="width: 30px; height: 30px;">  :  {{ ia.movies_name }}</p>
                    </p>
                    </h4>
                    <h4>
                        <p class="mb-200">
                            <p><img src="{% static 'icons/star.png' %}" style="width: 30px; height: 30px;">  :  {{ ia.movies_rating }}</p>
                        </p>
                        </h4>
                        <h4>
                            <p class="mb-200">
                                <p><img src="{% static 'icons/speaker.png' %}" style="width: 30px; height: 30px;">  :  {{ ia.movies_audio }} </p>
                            </p>
                            </h4>
                            <h4>
                                <p class="mb-200">
                                    <p><img src="{% static 'icons/messge.png' %}" style="width: 30px; height: 30px;">  :  {{ ia.movies_intro }} </p>
                                </p>
                                </h4>
                    <div class="text-center mb-5">
                        <button type="button" class="btn btn-primary tm-btn-big" data-toggle="modal" data-target=".bd-example-modal-lg">
                            Download
                        </button>
                    </div>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header-center">
                                <center><h5 class="modal-title" id="exampleModalLabel"> Links </h5></center>
                                <center><p>Total Views: {{ couter.Counter }}</p></center>
                              </div>
                              <div class="modal-body">
                            {% for i in links %}
                            {% if not i.link_title == 'null' %}
                            <center>
                                <p class="mb-4" style="padding-right: 60px;"><a href="{{i.link}}" target="_blank" rel="sponsored"> {{ i.link_title }}  </a></p>
                            </center>
                            {% else %}
                            <center>
                                <p class="mb-4" style="padding-right: 60px;"><a href="{{i.link}}" target="_blank" rel="sponsored"> {{i.link}} </a></p>
                            </center>
                            <center>
                                <p class="mb-4" style="padding-right: 60px;"><a href="{{i.link}}" target="_blank" rel="sponsored"> {{ i.link_title }}  </a></p>
                            </center>
                            {% else %}
                            <center>
                                <p class="mb-4" style="padding-right: 60px;"><a href="{{i.link}}" target="_blank" rel="sponsored"> {{i.link}} </a></p>
                            </center>
                            {% endif %}
                            {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>  
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                Related
            </h2>
            <div class="row tm-mb-90 tm-gallery">
                {% for is in res %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="{{ is.movie_name.movies_image.url  }}" alt="Image" class="img-fluid" style="width: 850px; height: 300px;">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>{{ is.movie_name.movies_name }}</h2>
                            <a href="{% url 'detail' pk=is.movie_name.pk %}">View more</a>
                        </figcaption>                    
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">{{ is.movie_name.upload_date }}</span>
                        <span>{{ is.movie_name.movies_category }}/{{ is.movie_name.category_types }}</span>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- row -->
        </div>

        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                Most Views
            </h2>
            <div class="row tm-mb-90 tm-gallery">
                {% for is in mostview %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="{{ is.movie_name.movies_image.url  }}" alt="Image" class="img-fluid" style="width: 850px; height: 300px;">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>{{ is.movie_name.movies_name }}</h2>
                            <a href="{% url 'detail' pk=is.movie_name.pk %}">View more</a>
                        </figcaption>                    
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">{{ is.movie_name.upload_date }}</span>
                        <span>{{ is.movie_name.movies_category }}/{{ is.movie_name.category_types }}</span>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- row -->
        </div>
{% endblock %}